@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
   box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.tema {
    background-color: rgb(92 10 12);
    color: white;
}

.temaDark{
    background: rgb(66, 66, 66);
}

.topWrapper {
    border: 2px solid black;
    display: flex;
}

.openIcon {
    cursor: pointer;
    background-color: orange;
    color: white;
    text-align: center;
    padding: 2px;
    font-size: 10px;
    width: 30px;
}

.top {
    display: inline-block;
    width: 100%;
    line-height: 30px;
    text-align: center;
    border-left: 2px solid black;
}

.middleWrapper {
    display: flex;
    height: 100%;
}

.lat {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equ {
    flex-grow: 2;
}

.center {
    flex-grow: 10;
    display: flex;
    flex-direction: column;
}

.right {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid black;
}

.footer {
    height: 30px;
}

.centerTop {
    display: flex;
}

.centerMid {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.centerBottom {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
}

.CTLeft {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.MusicWaveContainer {
    flex-grow: 15;
    min-height: 260px;
    max-height: 522px;
    border-bottom: 2px solid black ;
    overflow: auto;
}



.CTRightBottom {
    flex-grow: 2;
}

.musicWave {
    background-color: #db8e02;
    border-bottom: 3px black solid;
}

.pianoWrapper{
    min-height: 0px;
    overflow-y: auto;
}


.pianoMain {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    border: 2px solid black;
}

.controls{
    display: flex;
    align-items: center;


}

.controls > div{
    margin: 1px;
    padding: 9px;
    cursor: pointer;
    background:rgb(129, 129, 129);
}

#indexController{
    display: flex;
    flex-direction: column;
}

.time{
    display: flex;
}

.time>p{
    padding: 0px 7px 0px 7px;
}












.wrapper {
    flex-direction: row;
    display: ;
    }


.piano {
    --height: 100px;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .key {
    height: var(--width);
    width: calc(var(--width) * 4);
  }
  
  .white {
    --width: 50px;
    height: calc(var(--height) * 0.25);
    background-color: white;
    border: 1px solid #333;
    border-radius: 0 4px 4px 0;
  }
  
  .black {
    --width: 30px;
    height: calc(var(--height) * 0.15);
    background-color: black;
    border-radius: 0 2px 2px 0;
    margin-top: calc((var(--height) * 0.15)/-2);
    margin-bottom: calc((var(--height) * 0.15)/-2);
    z-index: 2;
  }
  